* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

:root {
    --black: #000000;
    --dark-gray: #26292C;
    --gray: #E0E0E0;
    --light-red: #FF2D04;
    --dark-red: #C13216;
    --white: #FFFFFF;

    --dashboard-gray: #DCDFE3;
    --dashboard-red: #FF0024;
    --dashboard-light-red: #FF3D1F;
    --dashboard-orange: #FF8000;
    --dashboard-yellow: #FECE00;
    --dashboard-green: #00BA88;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: var(--gray);
}

.formInput{
    margin-bottom: 1%;
    width: 379px;
    height: 60px;
    justify-content:end;
    color: var(--gray);
}

.formLabel {
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
    width: 120px;
    align-items: center;
    justify-content: start;
    color: var(--gray);
}

label {
    color: var(--gray);
}

input{
    padding: 15px;
    border-radius: 50px;
    width: 379px;
    height: 60px;
    border: 1px solid var(--gray);
    background-color: var(--dark-gray);
    color: var(--gray);
}

input::placeholder {
    font-size: 12px;
    color: var(--gray);
}

input[type="date"]::-webkit-datetime-edit-day-field { 
    text-transform: uppercase; 
    color: var(--gray);
}

input[type="date"]::-webkit-datetime-edit-month-field { 
    text-transform: uppercase; 
    color: var(--gray);
}

input[type="date"]::-webkit-datetime-edit-year-field { 
    text-transform: uppercase;
    color: var(--gray);
}

input[type="date"]::-webkit-calendar-picker-indicator { 
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(1);
}

input[type="date"]::-webkit-input-placeholder {
    color: var(--gray);
}

input[type="date"] {
    color: var(--gray);
}

label{
    font-size: 16px;
    color: gray;
    margin-bottom: 27px;
}

span{
    font-size: 8px;
    margin-left: 20px;
    padding: 5px;
    color: var(--dashboard-yellow);
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid var(--dashboard-yellow);
}

input:invalid[focused="true"] ~ span{
    display: block;
}