* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

:root {
    --black: #000000;
    --dark-gray: #26292C;
    --gray: #E0E0E0;
    --light-red: #FF2D04;
    --dark-red: #C13216;
    --white: #FFFFFF;

    --dashboard-body: #E5E5E5;
    --dashboard-gray: #DCDFE3;
    --dashboard-red: #FF0024;
    --dashboard-light-red: #FF3D1F;
    --dashboard-orange: #FF8000;
    --dashboard-yellow: #FECE00;
    --dashboard-green: #00BA88;
}

.weather__container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cityWeather {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.tempWeather {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center
}

.imgTemp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}