* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

:root {
    --black: #000000;
    --dark-gray: #26292C;
    --gray: #E0E0E0;
    --light-red: #FF2D04;
    --dark-red: #C13216;
    --white: #FFFFFF;

    --dashboard-body: #E5E5E5;
    --dashboard-gray: #DCDFE3;
    --dashboard-red: #FF0024;
    --dashboard-light-red: #FF3D1F;
    --dashboard-orange: #FF8000;
    --dashboard-yellow: #FECE00;
    --dashboard-green: #00BA88;
}

.inputDash {
    padding-left: 15px;
    background-color: var(--white);
    border: 1px solid var(--dashboard-yellow);
    border-radius: 10px;
    color: var(--black) 70%;
    height: 45px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.inputDash::placeholder {
    color: var(--black) 70%;
    font-size: 14px;
    font-weight: 400;
}

.inputDash:focus {
    outline: none !important; 
    background-color: var(--white);
    border: 1px solid var(--dashboard-yellow);
    border-radius: 10px;
    color: var(--black);
    height: 45px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.inputDash[type="text"] {
    width: 391px;
}

.inputDash[type="time"] {
    width: 120px;
}