* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

:root {
    --black: #000000;
    --dark-gray: #26292C;
    --gray: #E0E0E0;
    --light-red: #FF2D04;
    --dark-red: #C13216;
    --white: #FFFFFF;

    --dashboard-body: #E5E5E5;
    --dashboard-gray: #DCDFE3;
    --dashboard-red: #FF0024;
    --dashboard-light-red: #FF3D1F;
    --dashboard-orange: #FF8000;
    --dashboard-yellow: #FECE00;
    --dashboard-green: #00BA88;
}

.tabs {
    width: 100%;
    height: 100%;
}

.containerWeekDays{
    display: flex;
    width: 100%;
    gap: 10px;
    padding-left: 150px;
    margin-top: 1%;
}

.monday{
    background-color: var(--dashboard-red);
    border: none;
    width: 240px;
    height: 33px;
    border-radius: 9px 9px 0px 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    padding: 5px;
}

.contentMonday {
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
}

.mondayPcontent {
    width: 85%;
    height: 100%;
}

.btnMonday {
    height: 80px;
}

.tuesday {
    background-color: var(--dashboard-orange);
    border: none;
    width: 240px;
    height: 33px;
    border-radius: 9px 9px 0px 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    padding: 5px;
}

.wednesday {
    background-color: var(--dashboard-yellow);
    border: none;
    width: 240px;
    height: 33px;
    border-radius: 9px 9px 0px 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    padding: 5px;
}

.thursday {
    background-color: rgba(255, 0, 36, .7);
    border: none;
    width: 240px;
    height: 33px;
    border-radius: 9px 9px 0px 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    padding: 5px;
}

.friday {
    background-color: rgba(255, 128, 0, .7);
    border: none;
    width: 240px;
    height: 33px;
    border-radius: 9px 9px 0px 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    padding: 5px;

}

.saturday {
    background-color: rgba(255, 206, 0, .7);
    border: none;
    width: 240px;
    height: 33px;
    border-radius: 9px 9px 0px 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    padding: 5px;
}

.sunday {
    background-color: rgba(255, 0, 36, .5);
    border: none;
    width: 240px;
    height: 33px;
    border-radius: 9px 9px 0px 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    padding: 5px;
}

.dashContentTemp {
    height: 75px;
    width: 512px;
    margin-top: 110px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: var(--white); 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 5%, rgba(0,0,0,0) 5%); 
}

.dashContentTemp4 {
    height: 75px;
    width: 512px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: var(--white); 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 5%, rgba(0,0,0,0) 5%); 
}

.dashContentTemp2 {
    height: 75px;
    width: 512px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: var(--white);  
    background-image: linear-gradient(to right, #FF0024 5%, rgba(0,0,0,0) 5%); 
}

.para {
    width: 90%;
}

.dashContentTemp3 {
    height: 75px;
    width: 512px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: var(--white);  
    background-image: linear-gradient(to right, #FF0024 5%, rgba(0,0,0,0) 5%); 
}


.dashContent {
    height: 75px;
    width: 512px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: var(--white);  
    background-image: linear-gradient(to right, #FF0024 5%, rgba(0,0,0,0) 5%); 
}

.dashHourContent {
    display: flex;
}

.hourTasks {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 32.5px;
    padding-top: 15px;
    width: 150px;
    height: 820px;
}

.time {
    align-items: center;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    width: 85px;
    height: 85px;
    padding-top: 26px;
    margin-bottom: 20px;
    background-color: white;
}

.colorTime {
    align-items: center;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    background-color: var(--dashboard-red);
    border-radius: 10px;
    width: 85px;
    height: 75px;
    padding-top: 26px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--dashboard-red);
    border-radius: 10px;
}

.pTime {
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
}

.firstHour {
    display: flex;
}

.secondHour {
    display: flex;
}

.dash1 {
    position: absolute;
    width: 1100px;
    top: 400px;
    left: 130px;
    opacity: 0.8;
}

.dash2 {
    position: absolute;
    width: 1100px;
    top: 870px;
    left: 130px;
    opacity: 0.8;
}